<%- include('partials/header') -%>
<h4 style="text-align: center;">
  This is corona web app which tells us about the corona cases in all over
  country.This web app is made using pure node.js
</h4>
<%- include('partials/footer') -%>
